<div class="grid grid-cols-2">
  <% event_description_info.each.with_index(1) do | links_and_text, sub_index| %>
    <div id="<%= sub_index %>">
      <div id="accordion-nested-collapse-<%= "#{event_index}-#{sub_index}-lesson-and-slides" %>" data-accordion="collapse">
        <h2 id="accordion-nested-collapse-heading-<%= "#{event_index}-#{sub_index}" %>-lesson-and-slides" >
          <%= button_to "#accordion-nested-collapse-body-#{"#{event_index}-#{sub_index}"}", method: :get, class: "flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3 hover:bg-gray-100 focus:ring-4", id: "#{"#{event_index}-#{sub_index}"}", data: { accordion_target: "#accordion-nested-collapse-body-#{"#{event_index}-#{sub_index}"}-lesson-and-slides", aria_expanded: "false", aria_controls: "accordion-nested-collapse-body-#{"#{event_index}-#{sub_index}"}-lesson-and-slides", turbo: false } do %>
            <span>
              <%= links_and_text[:text] %>
              <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"></path>
              </svg>
            </span>
          <% end %>
        </h2>
        <div id="accordion-nested-collapse-body-<%= "#{event_index}-#{sub_index}-lesson-and-slides" %>" class="hidden" aria-labelledby="accordion-nested-collapse-heading-<%= "#{event_index}-#{sub_index}" %>-lesson-and-slides">
          <div class="p-5 border border-b-0 border-gray-200">
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              <% if links_and_text[:url].include?("https://docs.google.com/presentation") %>
                  <%= turbo_frame_tag "google_slides#{links_and_text[:drive_id]}", src: google_slides_path(drive_id: links_and_text[:drive_id]), loading: "lazy" %>
              <% elsif links_and_text[:url].include?("turing.edu/") %>
                <iframe src="<%= links_and_text[:url] %>" width="100%" height="00" frameborder="0" allowfullscreen></iframe>
              <% end %>
              <div class="content-center">
                <%= link_to "Link to #{links_and_text[:text]}", links_and_text[:url], data: { turbo_method: :get } %>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
