<div class="container mx-auto">
  <div class="text-center pt-6">
    <h1 class="text-5xl">Schedule For the Day</h1>
  </div>
  <div id="accordion-nested-parent" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
    <% @event_list.each.with_index(1) do |event, index| %>
      <h2 id="accordion-collapse-heading-<%= index %>">
        <%= button_to "#accordion-collapse-body-#{index}", method: :get, class: "flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3", data: { accordion_target: "#accordion-collapse-body-#{index}", aria_expanded: "true", aria_controls: "accordion-collapse-body-#{index}", turbo: false } do %>
          <div class="grid-rows-3">
            <%= event.start %>
            <%= event.summary %>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"></path>
            </svg>
          </div>
        <% end %>
      </h2>
      <div id="accordion-collapse-body-<%= index %>" class="hidden" aria-labelledby="accordion-collapse-heading-<%= index %>">
        <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
          <!-- Nested Accordion-->
          <p class="mb-2 text-gray-500 dark:text-gray-400"></p>
          <% event.description[:links_and_text].each.with_index(1) do | links_and_text, sub_index| %>
            <div id="accordion-nested-collapse-<%= "#{index}-#{sub_index}" %>" data-accordion="collapse">
              <h2 id="accordion-nested-collapse-heading-<%= "#{index}-#{sub_index}" %>" >
                <%= button_to "#accordion-nested-collapse-body-#{"#{index}-#{sub_index}"}", method: :get, class: "flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3", data: { accordion_target: "#accordion-nested-collapse-body-#{"#{index}-#{sub_index}"}", aria_expanded: "false", aria_controls: "accordion-nested-collapse-body-#{"#{index}-#{sub_index}"}", turbo: false } do %>
                  <%= links_and_text[:text] %>
                  <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"></path>
                  </svg>
                <% end %>
              </h2>
              <div id="accordion-nested-collapse-body-<%= "#{index}-#{sub_index}" %>" class="hidden" aria-labelledby="accordion-nested-collapse-heading-<%= "#{index}-#{sub_index}" %>">
                <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                  <p class="mb-2 text-gray-500 dark:text-gray-400">
                    <%= link_to "LINK", links_and_text[:url], data: { turbo_method: :get } %>
                    <% if links_and_text[:url].include?("https://docs.google.com/presentation") %>
                      <p>
                        Slide show here
                      </p>
                        <%= turbo_frame_tag "google_slides#{links_and_text[:drive_id]}", src: google_slides_path(drive_id: links_and_text[:drive_id]), loading: "lazy" %>

                        <!-- Slider controls -->
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
          <p class="text-gray-500 dark:text-gray-400">
            <%= simple_format(event.description[:formatted_text]) %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
